@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #011F30;
  --dark-color: rgba(245, 245, 245, 0.04);
  --fill-color: rgba(255, 255, 255, 0.25);

  --secondary-color: #FFC87C;
  --secondary-color-2: #FFC87CE5;

  --tertiary-color: rgba(112, 158, 200, 0.40);
  --alert-color: #DF5656;

  --text-main: #FFF;
  --text-plain: rgba(188, 234, 255, 0.60);

  --blue-color: #448FFF;


  --padd-sm: .75rem;
  --padd-md: 1rem;
  --padd-lg: 1.75rem;
  --padd-xl: 3rem;

  --border-r-sm: 3px;
  --border-r-md: 5px;
  --transition: all .4s ease-in;

  --gradient-cc: radial-gradient(2422.86% 132.40% at 0.00% 0%, rgba(255, 200, 124, 0.90) 0%, rgba(252, 251, 121, 0.90) 100%);
  --gradient-h1: linear-gradient(126deg, #FAFAFA 0%, rgba(188, 234, 255, 0.90) 100%);
  --gradient-tx: linear-gradient(45deg, #f3ec78, #ce5a0e);
  --gradient-color: linear-gradient(45deg, #df9745f3, #f3ec78);

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

ul,
ol {
  list-style: none;
}

input:-webkit-autofill {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background: var(--primary-color);
}

/* ====================  Utilities ========================= */

.text-gradient {
  background-size: 100%;
  background-repeat: repeat;


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.box {
  border-radius: var(--border-r-sm);
  border: 1px solid var(--tertiary-color);
  background: var(--dark-color);
}

.text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  color: var(--text-plain);
}

.link {
  color: var(--secondary-color-2);
  text-decoration-line: underline;
}

.link:hover {
  color: var(--secondary-color);
}

.polygon {
  width: 10px;
  height: 10px;
  transform: rotate(0deg);
}

.flex {
  display: flex;
  align-items: center;
}

.btn-primary {
  text-align: center;
  padding: 5px 1rem;
  cursor: pointer;
  transition: all .6s ease;
  border-radius: 5px;
  border: none;
  color: var(--primary-color);
  background: var(--gradient-cc);
  font-size: 16px;
white-space: nowrap;
}


.card {
  border-radius: var(--border-r-md);
  border: 1px solid var(--tertiary-color);
  background: var(--dark-color);
  transition: all .3s ease;
}

.card-outline {
  border-radius: var(--border-r-md);
  border: none;
  background: var(--dark-color);
  transition: all .3s ease;
}


section {

  min-height: 90dvh;


  padding: var(--padd-sm) var(--padd-md);
}

#bottom {
  min-height: 60dvh;
}

/* ===== scroll bar ==== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 2px;
}

/* ::-webkit-scrollbar-button {
  background-image: url('../src/assets/scroll.svg');
  background-size: cover;
}

::-webkit-scrollbar-button:start:decrement {
  display: block;
}

::-webkit-scrollbar-button:end:increment {
  display: block;
  transform: rotate(180deg);
} */

/* ---------------- loadingcss --------------------  */
.bar {
  z-index: 9999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: var(--gradient-tx);
}


/* ---------------- navbar css --------------------  */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  margin-bottom: var(--padd-lg);
  z-index: 999;
}

.navbar::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--tertiary-color);
}

.navbar .nav {
  padding: var(--padd-sm) var(--padd-md);
  justify-content: space-between;

}

.navbar .logo {
  cursor: pointer;
}

.navbar .logo h1 {
  /* color: var(--text-main); */
  color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;

}

.navbar .nav .nav-items {
  gap: var(--padd-md);
}

.navbar .nav-items .nav-link {
  color: var(--text-plain);
  text-transform: capitalize;
  transition: all .2s ease-in;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  position: relative;
  padding: 0px 5px;

}

.navbar .nav-items .nav-link::after {
  position: absolute;
  bottom: -18px;
  right: 1%;
  content: "";
  display: block;
  height: 1.5px;
  width: 0%;
  background: var(--secondary-color);
  transition: width .2s ease-in;
}

.navbar .nav-items .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-items .nav-link:active::after {
  width: 100%;
}
.navbar .menu {
font-size: 2em;
display: none;
  color: var(--text-plain);
  transition: color .4s ease-in;
}
.navbar .menu:hover {
  color: var(--tertiary-color);
}

/* ------------- hero section ---------------- */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padd-sm);
  align-items: center;
}

.hero--heading {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--padd-xl);
  animation: fadeInLeft .9s forwards;

}

.hero--heading .hero-title h1 {
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: -2px;
  background-image: var(--gradient-tx);
}

.hero .hero-title .text-contents {
  align-items: center;
  gap: 5px;
}

.hero .hero-title .text-contents p {
  letter-spacing: .3px;
  color: rgba(188, 234, 255, 0.70);
  font-size: 15px;
}

.hero .hero--heading .btn-use {
  width: 180px;
}

.hero .hero--heading .hero-bottom {
  gap: var(--padd-sm);
}

.hero .hero--heading .hero-bottom p {
  color: rgba(188, 234, 255, 0.70);
  letter-spacing: .5px;


}

.hero .hero--heading .hero-bottom span {
  margin-left: 5px;
  background: var(--gradient-h1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab {
  padding: 4px var(--padd-sm);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  letter-spacing: .2px;
  color: var(--primary-color);
  transition: background 0.3s ease;
  margin-right: 3px;
}

.tab-active {
  background: var(--primary-color);
  color: var(--secondary-color);
}


.hero--code {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.codesnippet {
  width: 300px;
  background: #00151D;
  box-shadow: 10px 10px 0 0 rgba(255, 0, 255, 0.932);
  border-radius: var(--border-r-md);
  margin-bottom: var(--padd-md);
  transform: translateX(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.codesnippet {
  animation: fadeInRight 1s forwards;
}

.codesnippet .codesnippet-top {
  padding: 5px 12px;
  border-bottom: 1px solid var(--tertiary-color);
}

.codesnippet .codesnippet-top .screen-nav {

  gap: var(--padd-sm);
}

.codesnippet-top .screen-nav .navigation {
  width: 12px;
  height: 12px;

  gap:5px;
}

.codesnippet-top .screen-nav .navigation {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}



code {
  max-height: 300px;
  margin-top: 16px;

  animation: typing 1s steps(40, end);

}

@keyframes typing {
  from {
    width: 0;
  }
}


.codesnippet-top .screen-nav .exit {
  background: var(--alert-color);
}

.codesnippet-top .screen-nav .min {
  background: var(--blue-color);
}

.codesnippet-top .screen-nav .max {
  background: var(--secondary-color);
}

.codesnippet .lang {

  gap: var(--padd-sm);
  font-size: 14px;
  color: var(--secondary-color-2);
  margin-left: var(--padd-md);
}

.codesnippet .lang .lang-icon {
  font-size: 18px;

  gap: 6px;
  font-size: 12px;
  color: var(--secondary-color-2);
  margin-left: var(--padd-lg);
}

.codesnippet .lang .lang-icon {
  font-size: 17px;

}

.codesnippet .codesnippet-contents {
  padding: var(--padd-md);
}


/* ------------- # features---------------- */
.features-content {
display: flex;
flex-wrap: wrap;
  gap: var(--padd-md);
  margin-top: var(--padd-md);
  
}

.box {
  width: 210px;
  height: 270px;
  padding: 5px;

}

.box .box-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box .box-contents .icon {
  margin: 8px;

}

.box .box-text h2 {
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: .3px;
  line-height: 46px;
  font-size: 16px;
  color: var(--text-main);
}

.box .box-text p {
  letter-spacing: .2px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.languages {
  margin: var(--padd-md);
}

.languages h1 {
  margin-top: var(--padd-lg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.languages .languages-body {
  display: flex;
  flex-direction: column;
  gap: var(--padd-md);
  align-items: flex-start;
  overflow: hidden;
  padding: 10px;

}

.languages .languages-body .languages-carousel {
  display: flex;
  gap: var(--padd-md);
  flex-wrap: nowrap;
  animation: carouselTranslate 24s linear infinite alternate;
}

.languages .languages-body .languages-carousel:nth-child(even) {
  animation: carouselTranslate 30s linear reverse infinite;

}

@keyframes carouselTranslate {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-780px);
    /* Half of -780px */
  }
}

.languages .languages-body .languages-carousel .language {
  gap: 10px;
  font-size: 2em;
  line-height: 56px;
  letter-spacing: .8px;
  color: var(--tertiary-color);
}

/* ------------- #installation ---------------- */
.h1 {
  color: #FFF;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: -2px;
  letter-spacing: 0.3px;
}

.text-span {
  background-image: var(--gradient-color);
}

.section-head {
  margin-bottom: var(--padd-md);
  animation: fadeInUp .9s linear;
}

.section--contents {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  gap: var(--padd-sm);
  align-items: flex-start;
  align-content: flex-start;
  margin: var(--padd-md) 5px;
  animation: fadeInUp .9s linear;

}

.section-center {
  margin: 0 auto;


}

.install-card {
  backdrop-filter: blur(8px);
  width: 450px;
  animation: fadeInUp .9s linear;
}

.install-card .card-top {
  padding: 4px 10px;
  border-bottom: 1px solid var(--tertiary-color);
  background: var(--dark-color);
  font-size: 16px;
  color: var(--text-main);
  cursor: pointer;
}

.install-card .card-top:hover {
  color: var(--secondary-color);
}

.install-card .install-card-body {
  padding: var(--padd-sm);
  font-size: 15px;
  transition: max-height ease-in .4s;


}

.install-card .closed {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.install-card .install-card-body li {
  margin-bottom: 8px;
}

.install-card .install-card-body .span {
  color: var(--secondary-color-2);
}

.install-card .install-card-body .span-bg {
  padding: 2px 6px;
  background: var(--dark-color);
  border-radius: var(--border-r-sm);
}

.install-card .install-card-body .span-github {
  padding: 2px 6px;
  border-radius: var(--border-r-sm);
  color: var(--blue-color);
  border: 1px solid var(--tertiary-color);
  background: var(--primary-color);
  position: relative;
  margin: 8px 0px;
  font-size: 14px;
  letter-spacing: -.2px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.install-card .install-card-body .span-github p {
  letter-spacing: -.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.install-card .install-card-body .span-github {
  padding-right: 30px;
}

.install-card .install-card-body:hover img {
  visibility: visible;
  opacity: 1;
}

.install-card .install-card-body img {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in, opacity .4s ease-in;
}

.copied {
  filter: grayscale(100%);
}


/* ------------- #bottom ---------------- */
#bottom {
  display: flex;
  align-items: center;
  justify-content: center;

}

.center {
  gap: var(--padd-sm);
  animation: fadeInUp .9s linear;
  flex-wrap: wrap;
}

.bottom-card {
  height: 200px;
  width: 160px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bottom-card .icon {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.bottom-card:hover .icon-1 {
  animation: bounceScale 0.5s ease-in infinite alternate;
}

.bottom-card:hover .icon-2 {
  animation: colorPulse 4s linear infinite;
}


.bottom-card:hover .icon-3 {
  animation: skewRotate 1s ease-in-out infinite alternate;
}

.bottom-card:hover .icon-4 {
  animation: float 2s ease-in-out infinite;

}



@keyframes bounceScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3) rotate(15deg);
  }
}


@keyframes colorPulse {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
    transform: scale(1.1);
  }
}



@keyframes skewRotate {

  0%,
  100% {
    transform: perspective(800px) translateZ(0) skewX(0) rotateY(0deg);
  }

  50% {
    transform: perspective(800px) translateZ(0) skewX(-10deg) rotateY(180deg);
  }
}



@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


.bottom-card .contents h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-main);
  margin-top: 5px;
  text-transform: capitalize;
}

.bottom-card .contents p {
  font-size: 14px;
}

/* ------------- footer ---------------- */
footer {
  width: 100%;
  font-size: 14px;
  letter-spacing: normal;
}

footer::before {
  content: "";
  height: 1px;
  display: block;
  background: var(--tertiary-color);
  width: 100%;

}

.footer {
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  padding: var(--padd-sm) var(--padd-md);
}

.footer .footer-items {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .top {
  cursor: pointer;
}

.footer .user,
.footer .top {
  gap: 5px;
}

.footer .link-user:hover {
  text-decoration: dotted;
  color: var(--secondary-color-2);
}

.footer .title {
  color: #FFF;
  text-transform: capitalize;
  font-size: 18px;
}

.footer .copy {
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
}

.footer .rights .text {
  text-transform: capitalize;
}