@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* ====== respensive styles =============  */

/* small screens */
@media (max-width : 576px) {
    .navbar .logo h1 {
        font-size: 1em;
    }

    .navbar .nav-items .nav-link {
        display: none;
    }

    .navbar .menu {
        display: block;
    }

    .hero {
        grid-template-columns: 1fr
    }

    .features-content {


        gap: 8px;

        gap: var(--padd-sm);

    }

    .box {
        width: 185px;
    }

    .bottom-card {
        width: 150px;
    }

    .install-card {
        width: 100%;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }



}

/* medium screens */
@media (min-width : 576px) and (max-width : 768px) {
    .features-content {
        /* display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; */

    }

    .hero {
        grid-template-columns: 1fr
    }


    .hero {
        grid-template-columns: 1fr
    }


    .install-card {
        width: 100%;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

}

#installation {
    position: relative;
}
.canvas {
   position: absolute;
   top: 18%;
   left: 18%;
   width: 70%;
   height: 70%;
   z-index: -1;
   filter: blur(5px);
    animation: rotateAnimation 20s linear infinite alternate-reverse;
}



@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

